@model Model.EF.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


  
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
        <script>
            (function () {
                if (typeof _bsa !== 'undefined' && _bsa) {
                    // format, zoneKey, segment:value, options
                    _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
                }
            })();
        </script>
        <script>
            (function () {
                if (typeof _bsa !== 'undefined' && _bsa) {
                    // format, zoneKey, segment:value, options
                    _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
                }
            })();
        </script>
        <script>
            (function () {
                if (typeof _bsa !== 'undefined' && _bsa) {
                    // format, zoneKey, segment:value, options
                    _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
                }
            })();
        </script>
        <!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
        <div id="codefund"><!-- fallback content --></div>
        <script src="https://codefund.io/properties/441/funder.js" async="async"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-149859901-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-149859901-1');
        </script>

        <script>
            window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
            ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
            ga('require', 'eventTracker');
            ga('require', 'outboundLinkTracker');
            ga('require', 'urlChangeTracker');
            ga('send', 'pageview');
        </script>
        <script async="" src="/js/autotrack.js"></script>

        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="/images/demobar_w3_4thDec2019.css">
        <!-- Demo bar start -->
      

        

        <section class="w3l-wecome-content-6">
            <!-- /content-6-section -->
            <div class="ab-content-6-mian py-5">
                <div class="container py-lg-5">
                    <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

                        <!---728x90--->


                    </div>

                    <div class="welcome-grids row">
                        <div class="col-lg-6 mb-lg-0 mb-5">
                            <h3 class="hny-title">
                                About Our Innis<span>Free</span>
                            </h3>
                            <p class="my-4">
                                Innisfree, đảo tinh khiết nơi mà thiên nhiên sạch và vẻ đẹp khỏe khoắn cùng tồn tại hài hòa.
                            </p>
                            <p class="mb-4">Innisfree là thương hiệu chia sẻ những lợi ích của thiên nhiên từ hòn đảo Jeju tinh khiết, mang đến vẻ đẹp của cuộc sống xanh, thân thiện với môi trường nhằm bảo vệ cân bằng sinh thái.</p>
                            <div class="read">
                                <a href="ecommerce.html" class="read-more btn">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-lg-6 welcome-image">

                            <img style="width:100%" src="/Content/image/6.jpg" />
                        </div>

                    </div>
                    <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

                        <!---728x90--->

                    </div>

                </div>
            </div>
        </section>
        <!-- //content-6-section -->


        <section class="w3l-specification-6">
            <!-- /specification-6-->
            <div class="specification-6-mian py-5">
                <div class="container py-lg-5">
                    <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

                        <!---728x90--->

                    </div>

                    <div class="row story-6-grids text-left">
                        <div class="col-lg-5 story-gd">

                            <img style="width:100%" src="/Content/image/banner1.jpg" />
                        </div>
                        <div class="col-lg-7 story-gd pl-lg-4">
                            <h3 class="hny-title">What We <span>??</span></h3>
                            <p>
                                Logo của chúng tôi đại diện cho nỗ lực chân thành của innisfree để mang đến vẻ đẹp khỏe mạnh,
                                với một kiểu chữ mới thể hiện cho lời hứa thân yêu và những cam kết mạnh mẽ của mình
                                và màu sắc lấy cảm hứng từ màu xanh đậm của rừng Bija Jeju tượng trưng cho sức sống của thiên nhiên.
                            </p>

                            <div class="row story-info-content mt-md-5 mt-4">

                                <div class="col-md-6 story-info">
                                    <h5> <a href="#">Triết lí kinh doanh</a></h5>
                                    <p>
                                       Đồng hành cùng phái đẹp
                                    </p>


                                </div>
                                
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </section>
        <!-- //specification-6-->

       
      
        <!--//team-sec-->


        <section class="w3l-footer-22">
            <!-- footer-22 -->
            <div class="footer-hny py-5">
                <div class="container py-lg-5">
                    <div class="text-txt row">
                        <div class="left-side col-lg-4">
                            <h3>
                                <a class="logo-footer" href="index.html">
                                    Spry<span class="lohny">S</span>tore
                                </a>
                            </h3>
                            <!-- if logo is image enable this
                                      <a class="navbar-brand" href="#index.html">
                                          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                      </a> -->
                            <p>
                                Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus
                                a ligula quam. Ut blandit eu leo non suscipit.
                            </p>
                            <ul class="social-footerhny mt-lg-5 mt-4">

                                <li>
                                    <a class="facebook" href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a class="google" href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a class="instagram" href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>

                        <div class="right-side col-lg-8 pl-lg-5">
                            <h4>
                                Women's Day Special Offer
                                All Branded Sandals are Flat 50% Discount
                            </h4>
                            <div class="sub-columns">
                                <div class="sub-one-left">
                                    <h6>Useful Links</h6>
                                    <div class="footer-hny-ul">
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms and Conditions</a></li>
                                            <li><a href="contact.html">Support</a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="sub-two-right">
                                    <h6>Our Store</h6>
                                    <p class="mb-5">49436 Broaddus Honey Court Avenue, Madisonville KY 95020, United States of America</p>

                                    <h6>We accept:</h6>
                                    <ul>
                                        <li>
                                            <a class="pay-method" href="#"><span class="fa fa-cc-visa" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a class="pay-method" href="#"><span class="fa fa-cc-mastercard" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a class="pay-method" href="#"><span class="fa fa-cc-paypal" aria-hidden="true"></span></a>
                                        </li>
                                        <li>
                                            <a class="pay-method" href="#"><span class="fa fa-cc-amex" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="below-section row">
                        <div class="columns col-lg-6">
                            <ul class="jst-link">
                                <li><a href="#">Privacy Policy </a> </li>
                                <li><a href="#">Term of Service</a></li>
                                <li><a href="contact.html">Customer Care</a> </li>
                            </ul>
                        </div>
                        <div class="columns col-lg-6 text-lg-right">
                            <p>
                                © 2020 SpryStore. All rights reserved. Design by <a href="https://w3layouts.com/" target="_blank">
                                    W3Layouts
                                </a>
                            </p>
                        </div>
                        <button onclick="topFunction()" id="movetop" title="Go to top" style="display: block;">
                            <span class="fa fa-angle-double-up"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- //titels-5 -->
            <!-- move top -->

            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->
        </section>






        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- disable body scroll which navbar is in active -->
        <script src="assets/js/jquery-2.1.4.min.js"></script>
        <!--/login-->
        <script>
            $(document).ready(function () {
                $(".button-log a").click(function () {
                    $(".overlay-login").fadeToggle(200);
                    $(this).toggleClass('btn-open').toggleClass('btn-close');
                });
            });
            $('.overlay-close1').on('click', function () {
                $(".overlay-login").fadeToggle(200);
                $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
                open = false;
            });
        </script>
        <!--//login-->
        <!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
        <script src="assets/js/bootstrap.min.js"></script>
        <div id="shadowMeasureIt"></div><div id="divCoordMeasureIt"></div><div id="divRectangleMeasureIt"><div id="divRectangleBGMeasureIt"></div></div>
    </body>


