<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innisfree Shop</title>
    <!-- Template CSS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Template CSS -->
    <link href="~/Content/assets/css/style-liberty.css" rel="stylesheet" />
        
    <link href="~/Assets/client/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style-starter.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="~/Assets/client/js/jquery-ui.js"></script>
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script src="https://codefund.io/properties/441/funder.js" async="async"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-149859901-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149859901-1');
    </script>
    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'urlChangeTracker');
        ga('send', 'pageview');
    </script>
    <script async="" src="~/Content/js/autotrack.js"></script>
    <link rel="stylesheet" href="~/Content/images/demobar_w3_4thDec2019.css">
</head>
<body>

    <section class="w3l-banner-slider-main inner-pagehny">
        <div class="breadcrumb-infhny">

            <div class="top-header-content">

                <header class="tophny-header">
                    <div class="container-fluid">
                        <div class="top-right-strip row">
                            <!--/left-->
                            <!--//left-->
                            <!--/right-->

                            @{Html.RenderAction("TopMenu", "Home"); }

                            <!--//right-->

                        </div>
                    </div>
                    @{Html.RenderAction("HeaderCart", "Home");}
                    <!--/nav-->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid serarc-fluid">
                            <a class="navbar-brand" href="https://localhost:44377/">
                                Innis<span class="lohny">F</span>ree
                            </a>

                            <!--/search-right-->
                            <div class="search-right">

                                <a href="#search" title="search">
                                    <span class="fa fa-search mr-2" aria-hidden="true"></span>
                                    <span class="search-text">Search here</span>
                                </a>
                                <!-- search popup -->


                                <div id="search" class="pop-overlay">
                                    <div class="popup">

                                        <form action="tim-kiem" method="get" class="search-box">
                                            <input style="width: 990px; border: none; " type="text" value="Search" name="keyword" id="txtKeyword" placeholder="Search">
                                            <button type="submit" class="btn">Search</button>
                                        </form>

                                    </div>

                                    <a class="close" href="#">×</a>
                                </div>
                                <!-- /search popup -->
                            </div>
                            <!--//search-right-->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fa fa-bars"> </span>
                            </button>
                            @{Html.RenderAction("MainMenu", "Home"); }
                        </div>
                    </nav>
                    <!--//nav-->
                </header>
                <div class="breadcrumb-contentnhy">
                    <div class="container">
                        <nav aria-label="breadcrumb">
                            <h2 class="hny-title text-center">InnisfreeShop</h2>
                            <ol class="breadcrumb mb-0">
                                <li>
                                    <a href="https://localhost:44377/">Home</a>
                                    <span class="fa fa-angle-double-right"></span>
                                </li>
                                <li class="active">Shop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
    </section>
    @RenderSection("slide", required: false)
    @RenderBody();
    <!-- //content-6-section -->



<section class="w3l-footer-22">
    <!-- footer-22 -->
    <div class="footer-hny py-5">
        <div class="container py-lg-5">
            <div class="text-txt row">
                <div class="left-side col-lg-4">
                    <h3>
                        <a class="logo-footer" href="index.html">
                            Innis<span class="lohny">F</span>ree
                        </a>
                    </h3>
                    
                    <p>
                        <h9>CÔNG TY TNHH AMOREPACIFIC VIỆT NAM</h9>
                    </p>
                    <p>
                        <h9>GIẤY CNĐKDN: 0309984165 - Ngày cấp: 05/05/2010, được sửa đổi lần thứ 14 ngày 16/02/2017.</h9>
                    </p>
                    <p>
                        <h11>Cơ quan cấp: Phòng Đăng kí kinh doanh - Sở Kế hoạch và Đầu tư TP.HCM</h11>
                    </p>
                    <p>
                        <h11>Địa chỉ đăng ký kinh doanh: Lầu 4A, Toà nhà Vincom, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Tp. Hồ Chí Minh, Việt Nam.</h11>
                    </p>
                    <ul class="social-footerhny mt-lg-5 mt-4">

                        <li>
                            <a class="facebook" href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a class="google" href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a class="instagram" href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="right-side col-lg-8 pl-lg-5">
                    
                    <div class="sub-columns">
                        <div class="sub-one-left">
                            <h6>Useful Links</h6>
                            <div class="footer-hny-ul">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                    <li><a href="contact.html">Support</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="sub-two-right">
                            <h6>Our Store</h6>
                            <p class="mb-5">Đại học Bách Khoa HÀ NỘI</p>

                            <h6>We accept:</h6>
                            <ul>
                                <li>
                                    <a class="pay-method" href="#">
                                        <span class="fa fa-cc-visa"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="pay-method" href="#">
                                        <span class="fa fa-cc-mastercard"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="pay-method" href="#">
                                        <span class="fa fa-cc-paypal"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="pay-method" href="#">
                                        <span class="fa fa-cc-amex"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                            
                            
                            <h6 style="margin-top: 50px;">Create By:</h6>
                            <p style="color:white; font-size:1.4rem;font-weight:600;">Bùi Thị Linh :  20173544</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section row">
                <div class="columns col-lg-6">
                    <ul class="jst-link">
                        <li><a href="#">Privacy Policy </a> </li>
                        <li><a href="#">Term of Service</a></li>
                        <li><a href="contact.html">Customer Care</a> </li>
                    </ul>
                </div>
                <div class="columns col-lg-6 text-lg-right">
                    <p>
                        © 2020 Linh. All rights reserved. Design by Linh
                        </a>
                    </p>
                </div>
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-double-up"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- //titels-5 -->
    <!-- move top -->

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>
<script src="~/Assets/client/js/Controller/baseController.js"></script>
    @RenderSection("jsFooter", required: false)

</body>

</html>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
<!--/login-->
<script>
    $(document).ready(function () {
        $(".button-log a").click(function () {
            $(".overlay-login").fadeToggle(200);
            $(this).toggleClass('btn-open').toggleClass('btn-close');
        });
    });
    $('.overlay-close1').on('click', function () {
        $(".overlay-login").fadeToggle(200);
        $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
        open = false;
    });
</script>
<!--//login-->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".button-log a").click(function () {
            $(".overlay-login").fadeToggle(200);
            $(this).toggleClass('btn-open').toggleClass('btn-close');
        });
    });
    $('.overlay-close1').on('click', function () {
        $(".overlay-login").fadeToggle(200);
        $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
        open = false;
    });
</script>
<script>
    // optional
    $('#customerhnyCarousel').carousel({
        interval: 5000
    });
</script>
<script src="~/Content/assets/js/minicart.js"></script>
<script>
    transmitv.render();

    transmitv.cart.on('transmitv_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) { }
        }
    });
</script>
<script src="~/Content/assets/js/jquery-ui.js"></script>
<script>
    //<![CDATA[
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [50, 6000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    }); //]]>
</script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<script src="~/Content/assets/js/bootstrap.min.js"></script>