@model List<Innisfree_Shop.Models.CartItem>

    <div class="container-fluid">
        <div class="top-hny-left-content col-lg-12">

            <div style="display: flex; justify-content: flex-end;">
                
                <span>
                <a href=" /gio-hang/" style="font-size:1.2rem;">Cart<span class="fa fa-shopping-cart"></span></a>
                      </span>
                <p style=" color: white;font-size: 1.2rem;">: @Model.Count sản phẩm</p>
            </div>
        </div>
</div>
    
